.collage {
  position: absolute;
}

body {
  background-color: pink;
  color: hotpink;
}
.container {
  position: relative;
  width: 100vw;
  height: 50vh;
  background-color: aquamarine;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50);
  margin: 0;

}
.display-exp{
  display: flex;
  gap: 20px;

}
.display-exp div{
  flex: 1;
  background-color: blue;
  padding: 20px;
  color: white;
  margin: 20px;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 200px;                 
  background-color: lightsalmon;
  justify-content: center;         
  align-items: center;  
  color: white           
}

.h1, h2, h3, h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-style: normal;
  animation-name: changedBG;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changedBG {
  from { background-color: lightblue; }
  to { background-color: lightgreen; }
}

  @keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

h2 {
  animation: bounce 2s infinite;
}

h3:hover{
  color: green;
  transform: rotate(5deg)
}